.option-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .option-item input {
    margin-right: 10px; 
  }
  
  .question-block p {
    margin-bottom: 10px;
  }
  
  .options-container {
    margin-left: 20px;
  }
  
  .gambar-intro img {
    margin-left: 150px;
  }
  
  .tombol-mulai button {
    background: linear-gradient(90deg, #4066EF 0%, #253A89 100%);
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    width: 100px;
  }
  
  .question-container button {
    background: linear-gradient(90deg, #4066EF 0%, #253A89 100%);
    color: white;
    display: flex;
    margin: auto;
  }